{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/ninjas/form.css' %}" />
{% endblock %} 
{% block content %}

<video id="backgroundvideo" autoplay loop muted>
  <source src="{% static 'videos/back22.mp4' %}" type="video/mp4" />
</video>


<div class="page-header">
  {% if ninja %}
  <h1>Edit {{ ninja.name }}</h1>
{% else %}
<h1></h1> 
{% endif %}
</div>




<div class="form-container-wrapper">
  <div class="leftcontainer">
      <video id="middleVideo" autoplay loop muted>
        <source src="{% static 'videos/sisa.mp4' %}" type="video/mp4" />
      </video>
  </div>



<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>


<div class="rightcontainer">
    <video id="middle-Video" autoplay loop muted>
      <source src="{% static 'videos/haha.mp4' %}" type="video/mp4" />
    </video>
    <script >
      let vid = document.getElementById("middle-Video");
      vid.playbackRate = 0.5;</script>
</div>
</div>

{% endblock %} 