{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<link rel="stylesheet" href="{% static 'css/weapons/weapon-delete.css' %}" />

<div class="circle"></div>

<div class='wrapper'>
  <div class='items'>

    <div class='item'>
      <video id="leftVideo" autoplay loop muted>
        <source src="{% static 'videos/6.mp4' %}" type="video/mp4" />
      </video>
    </div>

    <div class='item'>
      <video id="leftVideo" autoplay loop muted>
        <source src="{% static 'videos/about11.mp4' %}" type="video/mp4" />
      </video>
    </div>

    <div class='item'>
      <video id="leftVideo" autoplay loop muted>
        <source src="{% static 'videos/gara2.mp4' %}" type="video/mp4" />
      </video>
    </div>

    <div class='item'>
      <video id="leftVideo" autoplay loop muted>
        <source src="{% static 'videos/about661.mp4' %}" type="video/mp4" />
      </video>
    </div>

    <div class='item'>
      <video id="leftVideo" autoplay loop muted>
        <source src="{% static 'videos/about44.mp4' %}" type="video/mp4" />
      </video>
    </div>

    <div class='item'>
      <video id="leftVideo" autoplay loop muted>
        <source src="{% static 'videos/new1.mp4' %}" type="video/mp4" />
      </video>
    </div>

    <div class='item'>
      <video id="leftVideo" autoplay loop muted>
        <source src="{% static 'videos/gara13.mp4' %}" type="video/mp4" />
      </video>
    </div>

    <div class='item'>
      <video id="leftVideo" autoplay loop muted>
        <source src="{% static 'videos/gara14.mp4' %}" type="video/mp4" />
      </video>
    </div>

    <div class='item'>
      <video id="leftVideo" autoplay loop muted>
        <source src="{% static 'videos/about333.mp4' %}" type="video/mp4" />
      </video>
    </div>

    <div class='item'>
      <video id="leftVideo" autoplay loop muted>
        <source src="{% static 'videos/gara16.mp4' %}" type="video/mp4" />
      </video>
    </div>

    <div class='item'>
      <video id="leftVideo" autoplay loop muted>
        <source src="{% static 'videos/gara17.mp4' %}" type="video/mp4" />
      </video>
    </div>

    <div class='item'>
      <video id="leftVideo" autoplay loop muted>
        <source src="{% static 'videos/gara18.mp4' %}" type="video/mp4" />
      </video>
    </div>

    <div class='item'>
      <video id="leftVideo" autoplay loop muted>
        <source src="{% static 'videos/about22.mp4' %}" type="video/mp4" />
      </video>
    </div>

  </div>
</div>












<div class="top-contaner">
  <div class='heading'>
    <h2>Are you sure you want to delete {{ object.name }}?</h2>
  </div>
<form action="" method="post" class="form">
  {% csrf_token %}
  <div class='botton-container'>
  <a href="{% url 'weapon-detail' weapon.id %}" class="btn secondary">Cancel</a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
  </div>
</form>
</div>

{% endblock %}  