{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/weapons/weapon-index.css' %}" />
{% endblock %} 
{% block content %}

<video id="backgroundvideo" autoplay loop muted>
  <source src="{% static 'videos/sisa.mp4' %}" type="video/mp4" />
</video>






<div class='container-textbox'>
  <div class='textbox'>
     <section class="pageheader">
       <h1>忍の武器</h1>
     </section>
  </div>
</div>


<div id='middlevideocontainer'>
  <video id="middleVideo" autoplay loop muted>
    <source src="{% static 'videos/sisisa.mp4' %}" type="video/mp4" />
  </video>
</div>




<section class="card-container">
  {% for weapon in weapon_list %}
    <div class="card" style="border-color: {{ weapon.color }}">
      <div class="card-bg" style="background-color: {{ weapon.color }}"></div>
      <a href="{% url 'weapon-detail' weapon.id %}">
        <div class="card-video-container">
          <video class="card-video" autoplay loop muted>
            <source src="{% static 'videos/sisa2.mp4' %}" type="video/mp4" />
          </video>
        </div>
        <div class='card-info-overlay'>
          <h2>{{ weapon.name }}</h2>
          <p>A {{ weapon.color }} weapon</p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>


{% endblock %}
