{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script defer src="{% static 'JS/all.js' %}"></script>
{% endblock %}
{% block content %}
  <video id="backgroundvideo" autoplay loop muted>
    <source src="{% static 'videos/.mp4' %}" type="video/mp4" />
  </video>


  <body>
  <div class='carousel'>
    <div class='img-box'>
      <div class='img-list'>
        <div class='img-slider'>


          <!-- Video 1 -->
          <div class='img-item active' style='--i:1;'>
            <div class='item'>
              <video id="backgroundvideo" autoplay loop muted src="{% static 'videos/about1.mp4' %}" controls></video>
            </div>
          </div>

          <!-- Video 2 -->
          <div class="img-item" style="--i:2;">
            <div class="item">
              <video id="backgroundvideo" autoplay loop muted src="{% static 'videos/video2.mp4' %}" controls></video>
            </div>
          </div>

          <!-- Video 3 -->
          <div class="img-item" style="--i:3;">
            <div class="item">
              <video id="backgroundvideo" autoplay loop muted src="{% static 'videos/video3.mp4' %}" controls></video>
            </div>
          </div>
  
          <!-- Video 4 -->
          <div class="img-item" style="--i:4;">
            <div class="item">
              <video id="backgroundvideo" autoplay loop muted src="{% static 'videos/video4.mp4' %}" controls></video>
            </div>
          </div>

          <!-- Video 5 -->
          <div class="img-item" style="--i:5;">
            <div class="item">
              <video id="backgroundvideo" autoplay loop muted src="{% static 'videos/video5.mp4' %}" controls></video>
            </div>
          </div>

          <!-- Video 6 -->
          <div class="img-item" style="--i:6;">
            <div class="item">
              <video id="backgroundvideo" autoplay loop muted src="{% static 'videos/video6.mp4' %}" controls></video>
            </div>
          </div>
        </div>
      </div>
    </div>
    
        <div class='info-box'>
           <div class='info-item active'>
            <h2>Bluish Dragon Dual 4 Wireless Controll</h2>
            <h2>59.99</h2>
              <div class='colors'>
               <span class='active'></span>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
              </div>
              <p>lorem ipsum dolor sit dada dadad dadada dadadaadad dadadadd</p>
              <a href='#' class='btn'>Buy Now</a>
           </div>
           <div class='info-item'>
            <h2>Rosa Dragon Dual 4 Wireless Controll</h2>
            <h2>59.99</h2>
              <div class='colors'>
               <span></span>
               <span  class='active'></span>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
              </div>
              <p>lorem ipsum dolor sit dada dadad dadada dadadaadad dadadadd</p>
              <a href='#' class='btn'>Buy Now</a>
           </div>
           <div class='info-item'>
            <h2>Turmeric Dragon Dual 4 Wireless Controll</h2>
            <h2>59.99</h2>
              <div class='colors'>
               <span></span>
               <span></span>
               <span class='active'></span>
               <span></span>
               <span></span>
               <span></span>
              </div>
              <p>lorem ipsum dolor sit dada dadad dadada dadadaadad dadadadd</p>
              <a href='#' class='btn'>Buy Now</a>
           </div>
           <div class='info-item'>
            <h2>Reddish Dragon Dual 4 Wireless Controll</h2>
            <h2>59.99</h2>
              <div class='colors'>
               <span></span>
               <span></span>
               <span></span>
               <span class='active'></span>
               <span></span>
               <span></span>
              </div>
              <p>lorem ipsum dolor sit dada dadad dadada dadadaadad dadadadd</p>
              <a href='#' class='btn'>Buy Now</a>
           </div>
           <div class='info-item'>
            <h2>Mirage Dragon Dual 4 Wireless Controll</h2>
            <h2>59.99</h2>
              <div class='colors'>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
               <span class='active'></span>
               <span></span>
              </div>
              <p>lorem ipsum dolor sit dada dadad dadada dadadaadad dadadadd</p>
              <a href='#' class='btn'>Buy Now</a>
           </div>
           <div class='info-item'>
            <h2>Algae Dragon Dual 4 Wireless Controll</h2>
            <h2>59.99</h2>
              <div class='colors'>
               <span class='active'></span>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
               <span class='active'></span>
              </div>
              <p>lorem ipsum dolor sit dada dadad dadada dadadaadad dadadadd</p>
              <a href='#' class='btn'>Buy Now</a>
           </div>
        </div>

       <div class='navigation'>
        <span class='prev-btn'>
          <i class='bx bx-chevron-left'></i>
        </span>
        <span class='next-btn'>
          <i class='bx bx-chevron-right' ></i>
        </span>
       </div>
  </div>



</body>
{% endblock %}
