{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script defer src="{% static 'JS/all.js' %}"></script>
{% endblock %}
{% block content %}
  


  <body>
  <div class='carousel'>
    <div class='img-box'>
      <div class='img-list'>
        <div class='img-slider'>


         
          <div class='img-item active' style='--i:1;'>
            <div class='item'>
              <video id="backgroundvideo" autoplay loop muted src="{% static 'videos/about11.mp4' %}" controls></video>
            </div>
          </div>

          
          <div class="img-item" style="--i:2;">
            <div class="item">
              <video id="backgroundvideo" autoplay loop muted src="{% static 'videos/about22.mp4' %}" controls></video>
            </div>
          </div>

          
          <div class="img-item" style="--i:3;">
            <div class="item">
              <video id="backgroundvideo" autoplay loop muted src="{% static 'videos/about333.mp4' %}" controls></video>
            </div>
          </div>
  
        
          <div class="img-item" style="--i:4;">
            <div class="item">
              <video id="backgroundvideo" autoplay loop muted src="{% static 'videos/about44.mp4' %}" controls></video>
            </div>
          </div>


          <div class="img-item" style="--i:5;">
            <div class="item">
              <video id="backgroundvideo" autoplay loop muted src="{% static 'videos/about55.mp4' %}" controls></video>
            </div>
          </div>

 
          <div class="img-item" style="--i:6;">
            <div class="item">
              <video id="backgroundvideo" autoplay loop muted src="{% static 'videos/6.mp4' %}" controls></video>
            </div>
          </div>
        </div>
      </div>
    </div>
    
        <div class='info-box'>
          

          
           <div class='info-item active'>
            <h2>What is this page about?</h2>
            <h2>Well, I don't even know myself!</h2>
              <div class='colors'>
               <span class='active'></span>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
              </div>
              <p> I'm just having fun.</p>
              <a href='#' class='btn'>Join Now</a>
           </div>
           <div class='info-item'>
            <h2>Why Should You Be Here?</h2>
            <h2>Well, You Have No Reason</h2>
              <div class='colors'>
               <span></span>
               <span  class='active'></span>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
              </div>
              <p>Bro relax, we anime nerds! we dont need a reason</p>
              <a href='#' class='btn'>Join Now</a>
           </div>
           <div class='info-item'>
            <h2>Well, so you dont get bored</h2>
            <h2>You can join and be part of this unfinished page!</h2>
              <div class='colors'>
               <span></span>
               <span></span>
               <span class='active'></span>
               <span></span>
               <span></span>
               <span></span>
              </div>
              <p>Oh, and BTW, you can add your favorite characters and weapons for your own character! Cool right lol</p>
              <a href='#' class='btn'>Join Now</a>
           </div>
           <div class='info-item'>
            <h2>I don't even know what to type.</h2>
            <h2>Oh, I know! Do you know the story about what's going to happen tomorrow?</h2>
              <div class='colors'>
               <span></span>
               <span></span>
               <span></span>
               <span class='active'></span>
               <span></span>
               <span></span>
              </div>
              <p>Me neither, I can't see the future, you goofy! lol</p>
              <a href='#' class='btn'>Join Now</a>
           </div>
           <div class='info-item'>
            <h2>Ok, ok, fine, you can also play mini-games here</h2>
            <h2>...But in the future...lmao</h2>
              <div class='colors'>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
               <span class='active'></span>
               <span></span>
              </div>
              <p>SIKE, got 'em!</p>
              <a href='#' class='btn'>Join Now</a>
           </div>
           <div class='info-item'>
            <h2>Well, go and join now, let's smile together!</h2>
            <h2>Free page BTW your welcom</h2>
              <div class='colors'>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
               <span class='active'></span>
              </div>
              <p>Button below in case if u blind</p>
              <a href='#' class='btn'>Join Now</a>
           </div>
        </div>

       <div class='navigation'>
        <span class='prev-btn'>
          <i class='bx bx-chevron-left'></i>
        </span>
        <span class='next-btn'>
          <i class='bx bx-chevron-right' ></i>
        </span>
       </div>
  </div>



</body>
{% endblock %}
