{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="shortcut icon" type="image/png" href="{% static 'images/splash.svg' %}" />
    <title>Ninja Collector</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     {% block head %} 
     {% endblock %}
  </head>
  <body>
 
  
     <nav>
      <div class="header-logo-container">
        <a href="/">
          <h3>H</h3>
          <!--<img src="{% static 'images/logonav.png' %}" alt="Ninja" />-->
        </a>
      </div>

     
       <div class='slide'>
        <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'ninja-index' %}">Ninjas</a></li>
            <li><a href="{% url 'weapon-index' %}">Weapons</a></li>
            <li><a href="{% url 'ninja-create' %}">Add a Ninja</a></li>
            <li><a href="{% url 'weapon-create' %}">Add a Weapon</a></li>
            <li><a href="{% url 'about' %}"></i>About</a></li>
            <li>
              <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Log out</button>
              </form>
            </li>

          {% else %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign-Up</a></li>
          {% endif %}
        </ul>
      </div>



  </nav>
    <main>
      {% block content %} 
      {% endblock %}
    </main>
    
  </body>
</html>
