{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/Sign-Up-form.css' %}" />
{% endblock %} 

{% block content %}


<video id="backgroundvideo" autoplay muted loop>
    <source src="{% static 'videos/2.mp4' %}" type="video/mp4">
</video>


<div class="middle-video-container">
  <video id="middlevideo" autoplay muted loop>
      <source src="{% static 'videos/2.mp4' %}" type="video/mp4">
  </video>
  <div class="neon-line left"></div>
  <div class="neon-line right"></div>
</div>

<div class="page-header">
  <h1>Sign Up</h1>
</div>

{% if error_message %}
  <p class="red-text">{{ error_message }}</p>
{% endif %}

<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>
{% endblock %}
