

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: rgb(19, 18, 18); 
    backdrop-filter: blur(30px);
    padding: 0% 1%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.header-logo-container img {
    width: 8%; 
    filter: drop-shadow(0px 0px 1px rgb(27, 199, 225));
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    align-items: center;
 
}

nav ul li {
    display: inline-block;
    text-align: center;
    margin: 0 15px;
    
}

nav ul li a {
    color: #484747; 
    transition: color 0.3s; 
    display: block;
    line-height: 1.2;
    white-space: nowrap;
    font-size: 1rem;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 1px rgb(31, 217, 246));
}

nav ul li a:hover {
    color: #6fcaff; 
    filter: drop-shadow(0px 0px 1px rgb(27, 199, 225));
   
}

#logout-form {
    display: inline; 
}

#logout-form button {
     white-space: nowrap;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #0d8078;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 1px rgb(31, 217, 246));
}

#logout-form button:hover {
    color: #6fd1ff; 
    filter: drop-shadow(0px 0px 1px rgb(27, 199, 225));
}

h3 {
    color: #908d8d; 
    font-size: 2.5rem; 
    margin: 0; 
    text-shadow: 
        0 0 5px #8c8b8b, 
        0 0 10px #929191, 
        0 0 15px #888787, 
        0 0 20px rgb(124, 124, 238), 
        0 0 10px rgb(113, 113, 244), 
        0 0 10px rgb(82, 82, 243),
        0 0 5px rgb(125, 125, 246); 
    font-family: 'Arial', sans-serif;
}


h3:hover {
    color: #ffffff; 
    filter: drop-shadow(0px 0px 1px rgb(27, 199, 225));
    font-family: 'Arial', sans-serif;

}


















