{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/ninjas/ninja-index.css' %}"/>
{% endblock %} 
{% block content %}

<video id="backgroundvideo" autoplay loop muted>
  <source src="{% static 'videos/dnaa.mp4' %}" type="video/mp4" />
</video>



<div class='container-textbox'>
  <div class='textbox'>
     <section class="pageheader">
       <h1>葉の忍</h1>
     </section>
  </div>
</div>



<div id='middlevideocontainer'>
  <video id="middleVideo" autoplay loop muted>
    <source src="{% static 'videos/ninja.mp4' %}" type="video/mp4" />
  </video>
</div>

<section class="card-container">
  {% for ninja in ninjas %}
    <div class="card">
      <a href="{% url 'ninja-detail' ninja.id %}">
        <div class="card-video-container">
          <video class="card-video" autoplay loop muted>
            <source src="{% static 'videos/dna.mp4' %}" type="video/mp4" />
          </video>
        </div>
        <div class='card-info-overlay'>
          <h2 class="card-title">{{ ninja.name }}</h2>
          {% if ninja.age > 0 %}
            <p>A {{ ninja.age }} year old {{ ninja.clan }}</p>
          {% else %}
            <p>A {{ ninja.clan }} kitten.</p>
          {% endif %}
          <p><small>{{ ninja.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
