
video#backgroundvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
    
    
    
  }


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.page-header {
    text-align: center;
}


.form-container input, .form-container select, .form-container textarea, .form-container {
    font-size: 0.9rem; 
    padding: 0.5%;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    line-height: 1.5;
    text-decoration: none;
    opacity: 1; 
    background: rgba(160, 155, 155, 0.5); 
    color: black;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    margin-bottom: 8%;
    width: 80%;;
    text-shadow: 0 0 6px #ffffff;

    
    
}


.form-container textarea{
    height: 1.9rem;
}


.btn, .submit {
    
    background: none;
    color: #000000; 
    border: 0.5px solid #f8f8f8; 
    border-radius: 50px;
    padding: 10px 20px; 
    font-size: 1rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255), 0 0 5px rgba(255, 255, 255, 0.3);
    margin-top: 1rem; 
    text-shadow: 0 0 6px #e1e3e4;
    opacity: 8; 
    background: rgba(255, 254, 254, 0.5); 
    letter-spacing: 0.1em;
    align-self: center;
    

}




.form-container-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 7% auto;
    max-width: 1200px;
   
   
  
}


.leftcontainer, .rightcontainer {
    width: 25%; 
    padding: 0;
    position: relative;
    height: 30rem;
    overflow: hidden;
}

.leftcontainer video, .rightcontainer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}


.form-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background: rgba(92, 92, 92, 0.9);;
    border: 1px solid #5f5f20;
    padding: 4%;
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(113, 112, 112),
    0 0 10px rgb(91, 75, 75), 0 0 10px rgb(99, 97, 97),
    0 0 10px rgb(141, 137, 137), 0 0 10px rgb(61, 59, 59),
    0 0 10px rgb(120, 117, 117), 0 0 10px rgb(167, 166, 166);
    border-radius: 30px;
    height: 33rem;
    z-index: 1;
    position: relative;
    

}





@keyframes moveRightUp {
    0% {
        transform: translateY(10px); /* Start position below the viewport */
    }
    50% {
        transform: translateY(-82px); /* Move up */
    }
    100% {
        transform: translateY(10px); /* End position below the viewport */
    }
}


@keyframes moveLeftDown {
    0% {
        transform: translateY(-10px); /* Start position above the viewport */
    }
    50% {
        transform: translateY(82px); /* Move down */
    }
    100% {
        transform: translateY(-10px); /* End position above the viewport */
    }
}


.leftcontainer {
    margin-top: -21%;
    width: 25%; 
    background: none;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    height: 40rem;
    border: 1px solid #413f3f;
    box-shadow: 0 0 10px rgb(249, 248, 248), 0 0 10px rgb(255, 254, 254),
    0 0 10px rgb(249, 248, 248), 0 0 10px rgb(151, 150, 150),
    0 0 10px rgb(203, 197, 197), 0 0 10px rgb(176, 175, 175),
    0 0 10px rgb(145, 142, 142), 0 0 10px rgb(74, 74, 74);
    animation: moveLeftDown 15s ease-in-out infinite;
    
    
    
}


.rightcontainer {
    margin-top: 6%;
    width: 25%; 
    background: none;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    height: 40rem;
    border: 1px solid #413f3f;
    box-shadow: 0 0 10px rgb(249, 248, 248), 0 0 10px rgb(255, 254, 254),
    0 0 10px rgb(249, 248, 248), 0 0 10px rgb(151, 150, 150),
    0 0 10px rgb(203, 197, 197), 0 0 10px rgb(176, 175, 175),
    0 0 10px rgb(145, 142, 142), 0 0 10px rgb(74, 74, 74);
    animation: moveRightUp 15s ease-in-out infinite;
 
    
 
}

nav {
    position: relative;
    background-color: #000000;
    
}
