
video#backgroundvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
    
    
    
  }


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.page-header {
    text-align: center;
}


.form-container input, .form-container select, .form-container textarea, .form-container {
    font-size: 0.9rem; 
    padding: 0.5%;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    line-height: 1.5;
    text-decoration: none;
    opacity: 1; 
    background: rgba(160, 155, 155, 0.5); 
    color: black;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    margin-bottom: 8%;
    width: 80%;;
    text-shadow: 0 0 6px #ffffff;

    
    
}


.form-container textarea{
    height: 1.9rem;
}


.btn, .submit {
    
    background: none;
    border: 0.5px solid #f8f8f8; 
    border-radius: 50px;
    padding: 10px 20px; 
    font-size: 1rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255), 0 0 5px rgba(255, 255, 255, 0.3);
    margin-top: 1rem; 
    text-shadow: 0 0 6px #e1e3e4;
    opacity: 8; 
    filter: blur(3);
    letter-spacing: 0.1em;
    align-self: center;
    

}




.form-container-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 7% auto;
    max-width: 1200px;
   
   
  
}


.leftcontainer, .rightcontainer {
    width: 25%; 
    padding: 0;
    position: relative;
    height: 30rem;
    overflow: hidden;
}

.leftcontainer video, .rightcontainer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;  
    
}


.form-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background: rgba(40, 39, 39, 0.9);;
    border: 1px solid #5f5f20;
    padding: 4%;
    box-shadow: 0 0 15px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 45px rgb(255, 255, 255), 
    0 0 60px rgb(255, 255, 255),
    inset 0 0 30px rgb(249, 249, 249);
    border-radius: 30px;
    height: 33rem;
    z-index: 1;
    position: relative;
    

}





@keyframes moveRightUp {
    0% {
        transform: translateY(110px); 
    }
    50% {
        transform: translateY(-82px);
    }
    100% {
        transform: translateY(110px); 
    }
}


@keyframes moveLeftDown {
    0% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(82px); 
    }
    100% {
        transform: translateY(-30px); 
    }
}


.leftcontainer {
    margin-top: -21%;
    width: 25%; 
    background: none;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    height: 40rem;
    border: 1px solid #413f3f;
    filter: drop-shadow(0px 0px 1px rgb(27, 199, 225));
    box-shadow:  0 0 5px #fff, /* White glow */
    0 0 10px #fff, 
    0 0 15px #fff, 
    0 0 20px rgb(114, 114, 226), 
    0 0 30px rgb(150, 150, 236), 
    0 0 40px rgb(184, 184, 246),
    0 0 50px rgb(178, 178, 240);
    animation: moveLeftDown 15s ease-in-out infinite;
    
    
    
}


.rightcontainer {
    margin-top: 8%;
    width: 25%; 
    background: none;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    height: 40rem;
    border: 1px solid #413f3f;
    filter: drop-shadow(0px 0px 1px rgb(27, 199, 225));
    box-shadow: 0 0 5px #fff, 
    0 0 10px #fff, 
    0 0 15px #fff, 
    0 0 20px rgb(201, 232, 201), 
    0 0 30px rgb(175, 250, 175), 
    0 0 40px rgb(188, 248, 188),
    0 0 50px rgb(203, 237, 203); 
    animation: moveRightUp 15s ease-in-out infinite;
 
    
 
}

nav {
    position: relative;
    background-color: #000000;
    
}
